In [2]:
#This is first program 
#This variable contains an integer
quantity = 10
#This variable contains a float
unit_price = 1.99
# This variable contains the multiple of quanity with unit price
extended_price =  quantity * unit_price
# Show me some results on the screen 
print(extended_price)

19.9

In [17]:
x = 11
if x == 0:
    print("X is Zero")
else:
    print("x is ",x)
print("All Done")

x is  11
All Done

In [8]:
x = -4
y = abs(x)
print(x) 
print(y)

-4
4

In [9]:
x = 232.232323
y = round(x,2)
print(x)
print(y)

232.232323
232.23

In [15]:
x = 10
y = 20
z = 5
a = 'Balaji'
print(min(x,y,z))
print(max(x,y,x))
print(type(x))
print(type(a))

5
20
<class 'int'>
<class 'str'>

In [16]:
name = 'Sujatha'
print(f"Hello {name}")

Hello Sujatha

In [27]:
quantity = 30
unit_price = 4.99
print(f"Subtotal: ${quantity*unit_price:,.2f}")

Subtotal: $149.70

In [10]:
user_name = 'Balaji'
wife_name = 'Sujatha'
mother_name = 'Dhanalaxmi'
son_name = 'Aashuthosh Shreejan Kumar'
output=f"""{user_name}
{wife_name}
{mother_name}
{son_name}"""
print(output)

Balaji
Sujatha
Dhanalaxmi
Aashuthosh Shreejan Kumar

In [15]:
# Numeric Values

unit_price = 12
quantity = 30
sales_tax_rate = 0.065
sub_total = unit_price * quantity
sales_tax = sub_total * 0.065
total =  sub_total + sales_tax

print(sub_total)
print(sales_tax)
print(total)

# Format amounts to show with dollar sign

s_sub_total = "$" + "f{sub_total:,.2f}"
s_sales_tax = "$" + "f{sales_tax:,.2f}"
s_total = "$" + "f{total:,.2f}"

print(f"Sub_total:{s_sub_total}")
print(f"s_sales_tax:)
print(s_total)

# Output of the string its already attached

output = """f
Subtotal: {s_sub_total:<9}
Sales Tax: {s_sales_tax:<9}
Total: {s_total:<9}
"""

print(output)

360
23.400000000000002
383.4
$f{sub_total:,.2f}
$f{sales_tax:,.2f}
$f{total:,.2f}
f
Subtotal: {s_sub_total:<9}
Sales Tax: {s_sales_tax:<9}
Total: {s_total:<9}

In [28]:
# Import datetime module nicknames as dt
import datetime as dt

# Store today date in today variable
today = dt.date.today()

# Store your marriage date in marriage_date variable
marriage_date = dt.date(2012,3,9)

# See what's in today and marriage_date variables and to get marriage date in year month and day
print(f"Today Date: {today}")
print(f"Marriage: {marriage_date:%A, %B %d, %Y}\n")


# Verifying date objects methods
print(f"Marriage Day: {marriage_date.day}")
print(f"Marriage Month: {marriage_date.month}")
print(f"Marriage Year : {marriage_date.year}")

# Adding present time in mytime variable
mytime = dt.datetime.now()
print(mytime)

Today Date: 2021-06-14
Marriage: Friday, March 09, 2012

Marriage Day: 9
Marriage Month: 3
Marriage Year : 2012
2021-06-14 21:20:27.406023

In [4]:
# Enter which table you looking for
print('Enter which table you required:')

# Enter integer value for multiplication
table_number = input()

# Converting input value to integer
tb_number = int(table_number)

print(f"OK. You are looking for: {tb_number} table. Here it is")
# Print table with required multiplcation table
for x in range(1,21):
    print(f"{table_number}*{x}={tb_number*x}")

Enter which table you required:
12
OK. You are looking for: 12 table. Here it is
12*1=12
12*2=24
12*3=36
12*4=48
12*5=60
12*6=72
12*7=84
12*8=96
12*9=108
12*10=120
12*11=132
12*12=144
12*13=156
12*14=168
12*15=180
12*16=192
12*17=204
12*18=216
12*19=228
12*20=240