In [9]:
#This is first program 
#This variable contains an integer
quantity = 10
#This variable contains a float
unit_price = 1.99
# This variable contains the multiple of quanity with unit price
extended_price =  quantity * unit_price
# Show me some results on the screen 
print(extended_price)

19.9

In [10]:
x = 11
if x == 0:
    print("X is Zero")
else:
    print("x is ",x)
print("All Done")

x is  11
All Done

In [11]:
x = -4
y = abs(x)
print(x) 
print(y)

-4
4

In [12]:
x = 232.232323
y = round(x,2)
print(x)
print(y)

232.232323
232.23

In [13]:
x = 10
y = 20
z = 5
a = 'Balaji'
print(min(x,y,z))
print(max(x,y,x))
print(type(x))
print(type(a))

5
20
<class 'int'>
<class 'str'>

In [14]:
name = 'Sujatha'
print(f"Hello {name}")

Hello Sujatha

In [15]:
quantity = 30
unit_price = 4.99
print(f"Subtotal: ${quantity*unit_price:,.2f}")

Subtotal: $149.70

In [16]:
user_name = 'Balaji'
wife_name = 'Sujatha'
mother_name = 'Dhanalaxmi'
son_name = 'Aashuthosh Shreejan Kumar'
output=f"""{user_name}
{wife_name}
{mother_name}
{son_name}"""
print(output)

Balaji
Sujatha
Dhanalaxmi
Aashuthosh Shreejan Kumar

In [17]:
# Numeric Values

unit_price = 12
quantity = 30
sales_tax_rate = 0.065
sub_total = unit_price * quantity
sales_tax = sub_total * 0.065
total =  sub_total + sales_tax

print(sub_total)
print(sales_tax)
print(total)

# Format amounts to show with dollar sign

s_sub_total = "$" + "f{sub_total:,.2f}"
s_sales_tax = "$" + "f{sales_tax:,.2f}"
s_total = "$" + "f{total:,.2f}"

print(f"Sub_total:{s_sub_total}")
print(f"s_sales_tax:)
print(s_total)

# Output of the string its already attached

output = """f
Subtotal: {s_sub_total:<9}
Sales Tax: {s_sales_tax:<9}
Total: {s_total:<9}
"""

print(output)

SyntaxError: EOL while scanning string literal (<ipython-input-17-6a78ea4f6af0>, line 21)

In [ ]:
# Import datetime module nicknames as dt
import datetime as dt

# Store today date in today variable
today = dt.date.today()

# Store your marriage date in marriage_date variable
marriage_date = dt.date(2012,3,9)

# See what's in today and marriage_date variables and to get marriage date in year month and day
print(f"Today Date: {today}")
print(f"Marriage: {marriage_date:%A, %B %d, %Y}\n")


# Verifying date objects methods
print(f"Marriage Day: {marriage_date.day}")
print(f"Marriage Month: {marriage_date.month}")
print(f"Marriage Year : {marriage_date.year}")

# Adding present time in mytime variable
mytime = dt.datetime.now()
print(mytime)

In [ ]:
# Enter which table you looking for
print('Enter which table you required:')

# Enter integer value for multiplication
table_number = input()

# Converting input value to integer
tb_number = int(table_number)

# Print table with required multiplcation table
for x in range(1,11):
    print(f"{table_number}*{x}={tb_number*x}")

In [ ]:
print('Hello Visual code')

In [ ]:
# outer loop
for outer in ['First:','Second:','Third:']:
    print(outer)
# Inner loop
    for inner in range(3):
        print(inner+1)


print('Both loops are done')

In [ ]:
# Print ASCII characters

counter = 65
while counter < 91:
    print(str(counter) + "=" + chr(counter))
    counter +=1
print("All Done!")

In [ ]:
# Defining the list
names = ['Balaji','Sujatha','Dhanalaxmi','Aashuthosh Shreejan Kumar']
for name in names:
    print(name)

In [ ]:
# Defining scores 
scores = [89,98,87,78,65,66,77,89]
for score in scores:
    print(score)

print('Done')

In [ ]:

pi =  3.1415926544343
x = 128
y = -345.67899992
z = -999.99999
print(abs(z))
print(int(z))
print(int(abs(x)))
print(round(pi,4))
print(bin(x))
print(hex(x))
print(oct(x))

print(max(pi,x,y,x))
print(min(pi,x,y,x))
print(type(pi))
print(type(x))
print(type(str(y)))

In [ ]:
import math

z = 81

print('Enter number for factorial:')
f = i
i[o-nt(input())

# Calling sqrt from math function
print(math.sqrt(z))

# Calling cos from math function
print(math.factorial())

In [ ]:
import datetime as dt
right_now = dt.datetime.now()
print(right_now)

In [ ]:
# import datetime, give it an alias
import datetime as dt
# import timezone helpers from dateutil
from dateutil.tz import gettz

# UTC time right now
utc = dt.datetime.now(gettz('Etc/UTC'))
print(f"{utc:%a %D %I:%M %p %Z}")

# USA Eastern time
est = dt.datetime.now(gettz('America/New_Yori'))
print(f"{est:%A %D %I:%M %p %Z}")

# USA Central time
cst = dt.datetime.now(gettz('America/Chicago'))
print(f"{cst:%A %D %I:%M %p %Z}")

# USA Mountain time
mst= dt.datetime.now(gettz('America/Boise'))
print(f"{mst:%A %D %I:%M %p %Z}")

pst = dt.datetime.now(gettz('America/Los_Angeles'))
print(f"{pst:%A %D %I:%M %p %Z}")

In [ ]:
# List program example

# Define a list of numbers.
scores = [88,92,78,90,89,76,54]
for score in scores:
    print(score)
print('Done')

In [ ]:
# Seeing whether a list contains an item

students = ["Balaji","Sujatha","Dhanalaxmi","Aashuthosh"]

# Is Balaji in the list?
has_balaji = "Balaji" in students
print(has_balaji)

# Is Sujatha in the list?
has_Sujatha = "Sujatha1" in students
print(has_Sujatha)

In [ ]:
students = ["Balaji","Sujatha","Dhanalaxmi","Aashuthosh"]
print(len(students))

In [ ]:
students = ["Balaji","Sujatha","Dhanalaxmi","Aashuthosh","Ganesh"]

#Add the name Goober to the list
students.append("Goober")

new_student = "Amanda"
#Add whatever name is in new_student to the list
students.append(new_student)

#Print the entire list
print(students)

In [ ]:
# Add student if not in the list
students = ["Balaji","Sujatha","Dhanalaxmi","Aashuthosh","Ganesh","Amanda"]

student_name = "Amanda1"

#Add student_name but only if not already in the list

if student_name in students:
    print(student_name + " already in the list")
else:
    students.append(student_name)
    print(student_name + " added to the list")

print(students)

In [ ]:
# Changing an item in a list
# syntax listname[index] =  newvalue

# Create a list of strings(names).
students = ["Balaji","Sujatha","Dhanalaxmi","Aashuthosh","Ganesh","Amanda"]
print(len(students))
students[5]="Shiva"

print(students)

In [ ]:
# Combining Lists
# Syntax original_list.extend(additional_items_list)
# Create two lists of Names.

list1 = ["Zara", "Lupe", "Hong", "Alberto", "Jake"]
list2 = ["Huey", "Dewey", "Louie", "Nader", "Bubba"]

# Add list2 names to list1.
list1.extend(list2)

# Print list 1.
print(list1)

In [ ]:
# Create a list of strings.
letters = ["A", "B", "C", "D", "C", "E", "C"]

# Remove "C" from the list.
letters.remove("C")

# Show me the list
print(letters)

In [ ]:
#Create a list of strings.
letters = ["A", "B", "C", "D", "E", "F", "G"]

#Remove the first item.
letters.pop(0)

# Remove the last item.
letters.pop()

#Show me the new list
print(letters)

In [ ]:
#Clearing a list of strings.
letters = ["A", "B", "C", "D", "E", "F", "G"]

# Clear the list of all entries.
letters.clear()

# Show me the new list
print(letters)

In [55]:
# Tuple and who cares?
# The Syntax for creating a tuple is the same as the list we have to use parantheses.
prices = (29.95, 9.98, 4.95, 79.98, 2.95)
# To get a lenght of the prices
print(len(prices))

# To get the how many time an item appears with the tuple
print(prices.count(4.95))

# To see whether a value exists or not in a tuple
print(4.95 in prices)
for price in prices:
    print(f"$ {price:.2f}")

#while(len(prices)>0):
#    print(prices)

5
1
True
$ 29.95
$ 9.98
$ 4.95
$ 79.98
$ 2.95

In [53]:
# Working with python set (unorder list)
"""You can't change the order of items in a set either. So you cannot use .sort() to sort the set or .reverse() to reverse its order"""

sample_set = {1.98, 98.9, 74.95, 2.5, 1, 16.3}
print(sample_set)

sample_set.add(23.4)
print(sample_set)

"""You can also add multiple items to a set using .update(). But the items you're adding should be defined as a list in square brackets, as in the following example:"""
sample_set.update([12.3,22.32,2323.23,222.22])
print(sample_set)

#Looping set using for loop
print("Printing samples:")
for samples in sample_set:
    print(f"$ {samples:.2f}")

{1.98, 98.9, 2.5, 1, 74.95, 16.3}
{1.98, 98.9, 2.5, 1, 74.95, 16.3, 23.4}
{1.98, 98.9, 2.5, 1, 74.95, 12.3, 16.3, 2323.23, 22.32, 23.4, 222.22}
Printing samples:
$ 1.98
$ 98.90
$ 2.50
$ 1.00
$ 74.95
$ 12.30
$ 16.30
$ 2323.23
$ 22.32
$ 23.40
$ 222.22

In [60]:
#Creating the data dictionary 

people ={'Balaji': 'Oracle employee',
          'Sujatha': 'Wife of Mr.Balaji',
         'DhanalaxmiGaru':'Mother of Mr.Balaji',
          'Aashuthosh Shreejan Kumar':'Son of Mr.Balaji'}
 
print(people)

{'Balaji': 'Oracle employee', 'Sujatha': 'Wife of Mr.Balaji', 'DhanalaxmiGaru': 'Mother of Mr.Balaji', 'Aashuthosh Shreejan Kumar': 'Son of Mr.Balaji'}

In [72]:
# Functions in python

def hello(): # practise function
    print('welcome to functions in python')

hello()

welcome to functions in python

In [87]:
def hello(x):
    print('hello'+ x)

this_persone = ' Balaji'
hello(this_persone)

hello Balaji

In [93]:
def hello(fname,lname,datestring=''):
    msg = "Hello" + fname + " " + lname
    msg+= "you mentioned " + datestring
    print(msg)

hello('Balaji','Kola','12/31/2021')
hello('Sujatha','Kola')

# Pass in other variables
appt_date = '12/30/2020'
last_name = 'Balaji'
first_name = 'Kola'
hello(datestring=appt_date,lname=last_name,fname=first_name)

HelloBalaji Kolayou mentioned 12/31/2021
HelloSujatha Kolayou mentioned
HelloKola Balajiyou mentioned 12/30/2020

In [112]:
#  function to convert anystring to 
def lowercaseof(anystring):
        return anystring.lower()
     
print(lowercaseof('BEEEEEEEEEalajiKola'))

beeeeeeeeealajikola

In [115]:
# Define a new class name Member.
class Member:
    """ Create a new member. """
    def __init__(self, uname, fname):
        # Define attributes and give them values
        self.username = uname
        self.fathername = fname
# The class ends at the first un-indented line

# Creat an instance of the Member class name
new_guy = Member('Balaji','Kola')

# See what's in the instance, as well as its individual properties
print(new_guy)
print(new_guy.username)
print(new_guy.fathername)
print(type(new_guy))

# Change new_guy's user name the print values
new_guy.username = 'Suzi'
new_guy.fathername = 'Lakkadasu P Rama Rao'
print(new_guy.username)
print(new_guy.fathername)

<__main__.Member object at 0x7fb778d00d10>
Balaji
Kola
<class '__main__.Member'>
Suzi
Lakkadasu P Rama Rao

In [9]:
# Class with method example
import datetime as dt

# Define a new class name Member
class Member:
     """ Create a new member. """
     def __init__(self, username, fullname):
         self.username = username
         self.fullname = fullname
         # Default date_joined to today's date.
         self.date_joined = dt.date.today()
         # Set is active to True initially.
         self.is_active = True

        # Methods for each instance created(instance methods)

        # A method to return a formatted string with showing date joined
     def show_datejoined(self):
         print('Hello show_datejoined')
         return f"{self.fullname} joined on {self.date_joined:%m/%d/%y}"

# The class ends at the first un-indented line.

# Create an instance of the Member class named new_guy
new_guy = Member('Balaji','Kola')

# Try out the date_joined method.
print(new_guy.show_datejoined())

Kola joined on 07/10/21